body {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.maincontainer {
    height: 700px;
    display: flex;
    width: 96%;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    justify-content: space-around;
    background-color: #52658f;
}

.startertext {
    background-color: #fbce72;
    color: white;
    height: 30%;
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: -5;
    padding-bottom: -5;
    border: solid 5px white;
}

.startButton {
    background-color: #52658f;
    border: solid 7px aliceblue;
    color: white;
    height: 10%;
    width: 20%;
    margin-top: -470px;
    font-size: 18px;
}

.startertext,
.startButton {
    align-content: center;
}

.footercontainer {
    border: solid 5px #fbce72;
    background-color: #52658f;
    height: 100px;
    display: flex;
    width: 95%;
    justify-content: flex-end;
    align-items: center;
}

.scorebox {
    background-color: #fbce72;
    color: white;
    height: 70px;
    width: 70px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
