.commonteam {
	border-width: 10px;
	border-style: solid;
  float: left;
}

/*.SW, .ZP, .JennC, .CG, .DQ, .RP, .MP*/

.SW, .ZP, .JennC, .CG, .DQ, .RP, .MP {
  border-style: solid;
	border-color: blue;
  border-width: 5px;
  float: left;
}

.SimonJ, .SterlingJ, .SamA, .Sandy, .JakeC, .ShainaL, .Fedder, .CalebB, .EricP, .Britt, .JosephA, .CaesarN {
  border-style: solid;
	border-color: red;
  border-width: 5px;
  float: left;
}

.Zubinc, .LissetteG, .KatrinaR, .DannyR, .EricR, .MartinE, .JodiF, .MayaB {
  	border-style: solid;
	border-color: green;
   float: left;
}

.JeremyA, .Jarman, .JulieK, .AmyJ, .AntonA {
  	border-style: solid;
	border-color: purple;
   float: left;
}

.JordanQ {
  	border-style: solid;
	border-color: 
     float: left;
}

.PrysmA, .Harrison, .Bocker, .MelissaT, .Gavan, .JeffS, .EllisT {
  	border-style: solid;
	border-color: lightblue;
   float: left;
}

.Chris, .MorganC, .ArmelM, .BrianF, .JohnP, .JoseM, .JohnM, .JacuesS, .JustinV, .JonV, .CarlosY, .TomasR {
  	border-style: solid;
	border-color: lightgreen;
	color: blue;
   float: left;
}

.CharmaineT, .LindsayL, .ChaseS, .RebekaA {
  	border-style: solid;
	border-color: pink;
   float: left;
}

.SimonJ2, .PoojaS, .Jesse {
  	border-style: solid;
	border-color: orange;
   float: left;
}

.HBT {
  	border-style: solid;
	border-style: dotted;
	border-color: Black;
   float: left;
}

.tsamb, .Tim, .LeonDT, .Steeds, .JasonM {
  border-style: dashed;
  border-color: black;
   float: left;
}

.Bridgette, .Brad {
  border-style: solid;
  border-color: purple;
   float: left;
}


