.commonteam {
	border-width: 10px;
	border-style: solid;
}


.space {
	border-color: blue;
}

.realestate {
	border-color: red;
}

.marketing {
	border-color: green;
}

.revenue {
	border-color: purple;
}

.ms {
	border-color: 
}

.mshomemanagers {
	border-color: white;
}

.propertyservices {
	border-color: yellow;
}

.membersupport {
	border-color: pink;
}

.finleg {
	border-color: orange;
}

.peopleops {
	border-style: dotted;
	border-color: yellow;
}

img {
	height,width: 300px;
}