nav {
  text-decoration: none;
  float: left;
  padding: 50px 16px 12px 29px;
  margin-left: -5%;
}

ul {
  font-family: "Apercu Pro", sans-serif;
  16px/2 'Apercu Pro', Geneva, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #F8f8f8;
  transition: all 0.4s ease;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: initial;
  border-left: 4px solid #D34D35;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: rgb(211, 77, 53);
  display: block;
    padding: 12px 16px 12px 29px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 2.5;
}
ul a {
  display: block;
}

a {
  color: #777;
  text-decoration: none;
}

.logo {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  height: 10px;
  width: 10px;
}
  
.commonteam {
  box-sizing: border-box;
  overflow: hidden;
  border-width: 5px;
  padding-top: 10%;
}

.SW,
.ZP,
.JennC,
.CG,
.DQ,
.RP,
.MP {
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px;
}

.SimonJ,
.SterlingJ,
.SamA,
.Sandy,
.JakeC,
.ShainaL,
.Fedder,
.CalebB,
.EricP,
.Britt,
.JosephA,
.CaesarN {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.ZubinC,
.LissetteG,
.KatrinaR,
.DannyR,
.EricR,
.MartinE,
.JodiF,
.MayaB {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.JeremyA,
.Jarman,
.JulieK,
.AmyJ,
.AntonA {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.JordanQ {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.PrysmA,
.Harrison,
.Bocker,
.MelissaT,
.Gavan,
.JeffS,
.EllisT {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.Chris,
.MorganC,
.ArmelM,
.BrianF,
.JohnP,
.JoseM,
.JohnM,
.JacquesS,
.JustinV,
.JonV,
.CarlosY,
.TomasR {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.CharmaineT,
.LindsayL,
.ChaseS,
.RebekaA {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.SimonJ2,
.PoojaS,
.Jesse {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.HBT {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.tsamb,
.Tim,
.LeonDT,
.Steeds,
.JasonM {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

.Bridgette,
.Brad {
  margin: 5px;
  float: left;
  height: 100px;
  width: 100px;
}

