nav {
  text-decoration: none;
  float: left;
  display: block;
  padding: 50px 16px 12px 29px;
  margin-left: -5%;
}

ul {
  font-family: "Apercu Pro", sans-serif;
  16px/2 'Apercu Pro', Geneva, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #F8f8f8;
  transition: all 0.4s ease;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: initial;
  border-left: 4px solid #D34D35;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: rgb(211, 77, 53);
  display: block;
    padding: 12px 16px 12px 29px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 2.5;
}

a {
  color: #777;
  text-decoration: none;
}

.logo {
  float: left;
  padding-bottom:
  width: 100px;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 5px;
}
  
.whs {
  box-sizing: border-box;
  overflow: hidden;
  border-width: 5px;
  padding-top: 10%;
}

.Who {
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px;
}

.How {
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px;
}

body {
  color: white;
}

a:active, a:hover {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}